@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Work+Sans:wght@300;400&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

#hero{
    background: url(../img/design-interior-1.jpg) right/contain no-repeat;
    height: calc(100vh - 100px);
    div{
        background: #fff;
        width: 45%;
        height: 100%;
        @include flexdisp(column,center,center);
        font-family: 'Lora', serif;
        h1{
            font-size: 5rem;
            letter-spacing: 10px;
            margin-left: 10px;
        }
        p{
            letter-spacing: 2px;
        }
    }
}

header{
    @include flexdisp($jc:space-between,$ai:center);
    position: sticky;
    top: 0;
    height: 100px;
    background: #2e2e2e;
    padding: 0 2%;
    input, span{
        display: none;
    }
    nav{
        ul{
        @include flexdisp();
        list-style: none;
        letter-spacing: 1px;
        }
        li{
            margin-right: 10vw;
        }
        a{
            text-decoration: none;
            color: #fff;
            transition: .5s ease;
            &:hover{
                color: #88cddb;
            }
        }
    }
}

#story{
    @include flexdisp($ai:center);
    background: #2e2e2e;
    color: #fff;
    padding: 150px 0;
    img{
        width: 55%;
    }
    article{
        padding: 2%;
        width: 41%;
    }
}

h2{
    font-family: 'Lora', serif;
    font-weight: 400;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}
p{
    font-size: 1.2rem;
    line-height: 2em;
    font-weight: 300;
    margin-bottom: 20px;
}


#featured{
    @include flexdisp($ff:column,$ai:center);
    padding: 150px 3%;
    p{
        width: 50%;
        letter-spacing: 2px;
        word-spacing: 8px;
        margin-bottom: 80px;
    }
    article{
        @include flexdisp($jc:space-between) ;
        width: 100%;
        margin-bottom: 50px;
        figure{
            width: 30%;
        }
        img{
            width: 100%;
        }
        figcaption{
            font-size: 1.2em;
            font-weight: 300;
            text-align: center;
            letter-spacing: 2px;
        }
    }
}

#contact{
    background: #2e2e2e;
    color: #fff;
    padding: 150px 10% 150px 5%;
    @include flexdisp($jc:space-between,$ai:center);
    div{
        width: 40%;
    }
    h2{
        text-align: left;
        margin-bottom: 40px;
    }
    label{
        font-family: 'Lora', serif;
        font-size: 1.5em;
    }
    input{
        width: 100%;
        padding: 5px;
        margin-bottom: 30px;
        &:last-of-type{
            font-family: 'Work Sans', sans-serif;
            width: auto;
        }
    }
}

footer{
    @include flexdisp($jc:space-between,$ai:center);
    background: #1d2c2f;
    color: #fff;
    font-family: 'Lora', serif;
    padding: 10px 5%;
    p{
        margin-bottom: 0;
    }
    ul{
        @include flexdisp();
        list-style: none;
    }
    li{
        margin-left: 30px;
    }
    a{
        text-decoration: none;
        color: #fff;
        &:hover{
            text-decoration: underline;
        }
    }
}
