@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Work+Sans:wght@300;400&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

#hero {
  background: url(../img/design-interior-1.jpg) right top/contain no-repeat;
  height: calc(100vh - 100px);
}
#hero div {
  background: #fff;
  width: 45%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: "Lora", serif;
}
#hero div h1 {
  font-size: 5rem;
  letter-spacing: 10px;
  margin-left: 10px;
}
#hero div p {
  letter-spacing: 2px;
}
@media (max-width: 769px) {
  #hero {
    background-size: cover;
  }
  #hero div {
    height: auto;
    width: 100%;
    transform: translateY(calc(100vh - 260px));
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100px;
  background: #2e2e2e;
  padding: 0 2%;
}
header input, header span {
  display: none;
}
header nav ul {
  display: flex;
  list-style: none;
  letter-spacing: 1px;
}
header nav li {
  margin-right: 10vw;
}
header nav a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}
header nav a:hover {
  color: #88cddb;
}
@media (max-width: 769px) {
  header {
    justify-content: start;
  }
  header input {
    display: block;
    position: absolute;
    top: 35px;
    right: 5vw;
    opacity: 0;
    width: 30px;
    height: 30px;
    z-index: 999;
  }
  header input:checked ~ nav {
    right: 0;
  }
  header input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg) translateY(9px) translateX(9px);
  }
  header input:checked ~ span:nth-of-type(2) {
    display: none;
  }
  header input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-8px) translateX(8px);
  }
  header span {
    display: block;
    position: absolute;
    top: 35px;
    right: 5vw;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    z-index: 10;
    transition: 0.5s ease;
  }
  header span:nth-of-type(2) {
    top: 47px;
  }
  header span:nth-of-type(3) {
    top: 59px;
  }
  header nav {
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    background: #2e2e2e;
    width: 300px;
    transition: 0.5s ease;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    display: block;
    padding: 0;
  }
  header nav li {
    margin: 5vh 0;
  }
}

#story {
  display: flex;
  align-items: center;
  background: #2e2e2e;
  color: #fff;
  padding: 150px 0;
}
#story img {
  width: 55%;
}
#story article {
  padding: 2%;
  width: 41%;
}
@media (max-width: 769px) {
  #story {
    display: block;
  }
  #story img {
    width: 100%;
  }
  #story article {
    width: 90%;
    margin: 0 auto;
  }
}

h2 {
  font-family: "Lora", serif;
  font-weight: 400;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 2em;
  font-weight: 300;
  margin-bottom: 20px;
}

#featured {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 150px 3%;
}
#featured p {
  width: 50%;
  letter-spacing: 2px;
  word-spacing: 8px;
  margin-bottom: 80px;
}
#featured article {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
#featured article figure {
  width: 30%;
}
#featured article img {
  width: 100%;
}
#featured article figcaption {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
}
#featured iframe {
  height: 315px;
  width: 560px;
}
@media (max-width: 769px) {
  #featured article {
    display: block;
  }
  #featured article figure {
    width: 100%;
    margin-bottom: 30px;
  }
  #featured iframe {
    width: 80vw;
    height: 45vw;
  }
}
@media (max-width: 480px) {
  #featured p {
    width: 90%;
  }
}

#contact {
  background: #2e2e2e;
  color: #fff;
  padding: 150px 10% 150px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact div {
  width: 40%;
}
#contact h2 {
  text-align: left;
  margin-bottom: 40px;
}
#contact label {
  font-family: "Lora", serif;
  font-size: 1.5em;
}
#contact input {
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
}
#contact input:last-of-type {
  font-family: "Work Sans", sans-serif;
  width: auto;
}
@media (max-width: 769px) {
  #contact {
    display: block;
  }
  #contact div {
    width: 100%;
  }
  #contact form {
    margin-top: 100px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1d2c2f;
  color: #fff;
  font-family: "Lora", serif;
  padding: 10px 5%;
}
footer p {
  margin-bottom: 0;
}
footer ul {
  display: flex;
  list-style: none;
}
footer li {
  margin-left: 30px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 769px) {
  footer {
    display: block;
    text-align: center;
  }
  footer p {
    margin-bottom: 30px;
  }
  footer ul {
    display: block;
    padding: 0;
  }
  footer li {
    margin-left: 0;
    line-height: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
